span {
  color: red;
}

.calc {
  display: flex;
  flex-direction: row.
}

.numbers {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.console {
  display: none;
  width: 300px;
  border: 2px solid black;
}

#button {
  width: 50px;
  height: 50px;
}

.starred {
  color: red;
}
